<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Todo App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/write">Write</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 mr-2">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="nav-login btn btn-outline-primary" href="/login">Login</a>
    <a class="nav-logout btn btn-outline-primary" href="/logout">Logout</a>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script>
  $('.nav-login').hide();
  $('.nav-logout').hide();

  function checkLogin() {
    $.ajax({
      url: '/is-login',
      method: 'GET'
    }).done(function (response) {
      if (response.result) {
        $('.nav-login').hide();
        $('.nav-logout').show();
      } else {
        $('.nav-login').show();
        $('.nav-logout').hide();
      }
    }).fail(function (error) {
      console.log(error);
    })
  }
  checkLogin();

</script>